.quotesContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 1500px) {
  .quotesContainer {
    width: 85%;
    max-width: 1800px;
  }
}

.quoteContainer {
  max-width: 500px;
  flex-basis: 450px;
  flex-grow: 1;
  flex-shrink: 0;
  margin: 1rem 2rem;
}

.quoteContainer blockquote {
  min-height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
