.tabs {
  border: transparent solid thin;
  box-shadow: var(--ifm-global-shadow-md);
  border-radius: 0.6rem;
  padding: 1rem;
}

html[data-theme="dark"] .tabs {
  border-color: var(--ifm-color-emphasis-200);
  box-shadow: var(--ifm-global-shadow-xl);
}

.tab {
  min-width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 996px) {
  .tab {
    font-size: 1rem;
    min-width: 4rem;

  }
}
